# Ignore node_modules folder for both frontend and server
/frontend/node_modules
/server/node_modules

# Ignore build output folder from React frontend
/frontend/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
/frontend/.env
/server/.env
